*{
    margin:0;
    padding:0;
}
main{
    max-width:100vw;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
   
    grid-template-areas:
        ".literature-links .image-container"; 
}

h1{
    font-family: Bungee Inline ;
    color:rgb(234,43,87);
}
.image-container{
    max-width:100vw;
}
