nav{
    z-index: 200;
    max-width:100vw;
}
.footer {
    clear: both;
    position: relative;
    height: 50px;
    margin-top: 60px;
    margin-left: 0;
    padding-top: 10px;
    max-width: 100vw;
}

